/* GLOBAL SECTION */

* {
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    background-image: linear-gradient(to right,rgb(0, 71, 88),rgb(0, 37, 71));
}

body {
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
}


h1,h2,h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

main {
    margin: 0 auto;
}

section {
    width: 95%;
    margin: 40px auto;
    border-radius: 1vw 5vw;
    padding: 30px;
    background:linear-gradient( rgb(255, 239, 215),rgb(255, 239, 215));
    box-shadow: -1px 3px 2px 2px rgba(0,0,0,.4);
}

.container {
    margin: 0 auto;
    display: flex;
    width: 98%;
    max-width: 1550px;
    padding: 20px;
    z-index: 3;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
}

/* Navbar */
nav {
    left:0px;
    top: 0px;
    position: fixed;
    align-items: center;
    height: 60px;
    width: 100%;
    z-index: 3;
    background-image: linear-gradient(to right,rgb(0, 71, 88),rgb(0, 37, 71));
}

nav select {
    display: none;
}

nav .container{
    justify-content: space-between;
}

#name {
    margin-left: 30px;
    display: inline-block;
    align-self: center;
    justify-content: start;
}

#nav-links {
    display: flex;
    max-width: 90%;
    position: relative;
    align-self: center;
    justify-self: end;
    justify-content: flex-end;
}

#nav-links a {
    margin: 0px 30px;
   
}


header::before {
    content:"";
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    background-image: radial-gradient(rgba(255,255,200,.99),rgba(250,250,250,.4));
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 1vw 5vw;
}

.background-common {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 80px auto 40px;
    background-image: url(./assets/stephen-leonardi-YVcg27FuJzs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    z-index: 0;
    border-radius: 1vw 5vw;
}


#header {
    z-index: 2;
    font-size: 1em;
    font-size: 2vw;
}


.about {
    flex-direction: column;
    justify-content: flex-end;

}

.about p{
    max-width: 1000px;
    margin: 10px auto;
}

/* Experience Section */
.icons {
    flex-direction: column;
    position: relative;
}

.chart {
    position: relative;
    align-items: center;
    z-index: 0;
}

.key {
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 0;
}

.group {
    display: flex;
    align-items: center;
}


#learning {
    margin: 10px;
    display: inline;
    height: 20px;
    width: 40px;
    border-radius: 0, 50%;
    background-color: rgb(0, 250, 250);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4) ;
}

#familiar {
    margin: 10px;
    display: inline;
    height: 20px;
    width: 40px;
    border-radius: 0, 50%;
    background-color: rgb(0, 150, 250);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4) ;
}

#proficient {
    margin: 10px;
    display: inline;
    height: 20px;
    width: 40px;
    border-radius: 0, 50%;
    background-color: rgb(0, 50, 250);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4) ;
}

.bar {
    position: relative;
    width: 90%;
    height: 1vw;
    background-color: white;
    border-radius: 0px 3vw 3vw 0px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4) ;
}

/* experience level for each languate.  Change width % to mimic experience level with 100% being mastery */

.bar-fill {
    height: 100%;
    border-radius: 0px 3vw 3vw 0px;
}

.html {
    /* double the width #, subtract from 250 and update the second color middle number with that value for each of the following backgrounds*/
    background-image: linear-gradient(to right,rgb(0, 250, 250),rgb(0, 130, 250)); 
    width: 60%; /* increase with experience */
   
}

.css {
 
    background-image: linear-gradient(to right,rgb(0, 250, 250),rgb(0, 150, 250));
    width: 50%;

}

.javascript {
  
    background-image: linear-gradient(to right,rgb(0, 250, 250),rgb(0, 170, 250));
    width: 40%;
  
}

.node {
  
    background-image: linear-gradient(to right,rgb(0, 250, 250),rgb(0, 190, 250));
    width: 30%;
   
}

.python {
 
    background-image: linear-gradient(to right,rgb(0, 250, 250),rgb(0, 150, 250));
    width: 60%;
 
}


svg {
    height: 100px;
    width: 100px;
}

#js {
    height: 95px;
    width: 95px;
    padding: 5px;
}
/* End of experience section */


.projects, .projects a {
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: black;
}



/* Contact section */
.form {
    display: grid;
    position: relative;
    grid-template-columns: auto auto 200px auto auto;
    grid-template-rows: repeat(3, 1fr) 1.5fr 1fr;
}

.input {
    display: block;
    position: relative;
    grid-column-start: 2;
    grid-column-end: 5;
    margin-bottom: 10px;
}


.input input {
    display: block;
    width: 100%;
    height: 30px;
}

textarea {
    display: block;
    width: 100%;
    height: 100px;
    
}

.submit {
    grid-column-start: 3;
}

#submit {
    text-align: center;
    width: 180px;
    position: absolute;
    bottom: 20px;
    font-size: 1rem;
    border: 1px solid darkgray;
    border-radius: 10px;
}

#submit:hover {
    background-color: rgb(0, 250, 250);
}
    


/* Smart phones and smaller screens */
@media only screen and (max-width: 888px) {
    
    nav select {
        display: inline-block;
        margin-right: 5%;
        background-color: transparent;
        border-bottom: 2px double whitesmoke;
        border-top: 2px double whitesmoke;
        border-radius: 0px;
        border-left: transparent;
        border-right: transparent;
        width: 40px;
        height: 20px;
        font-size: 1rem;
        color:transparent
    }

    select {
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
        
      }

    option {
        font-display: hidden;
    }
    
    option:disabled {
        display:none;
        font-display: hidden;
    }

    #nav-links {
        display: none;
    }

    header::before {
        background-image: radial-gradient(circle at center top,rgba(255,255,200,.99),rgba(250,250,250,.4));
        
    }


    .background-common {
        padding-top: 10%;
        align-items: flex-start;
        height: 375px;
    }

    #header {
        font-size: 1.2em;
    }

    .key {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20%;

    }

    .bar {
        height: 2vw;   
    }

    svg {
        height: 50px;
        width: 50px;
    }

    #js {
        height: 48px;
        width: 48px;
        padding: 2px;
    }

    
}